In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('Data/listings.csv')

In [7]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,82,30,89,2019-11-30,0.73,2,303,0,NaN
1,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,92,1,340,2021-10-10,5.43,7,207,70,NaN
2,156805,"Private Room ""Ader"" at BPS Hostel",746673,BonPaul,NaN,28806,35.57864,-82.59578,Private room,66,1,67,2020-01-01,2.68,7,0,0,NaN
3,156926,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",746673,BonPaul,NaN,28806,35.57864,-82.59578,Shared room,33,1,291,2021-10-16,3.40,7,225,12,NaN
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,2015-10-19,0.47,1,0,0,NaN
5,209068,Terrace Cottage,1029919,Kevin,NaN,28804,35.61856,-82.55276,Entire home/apt,134,30,57,2021-01-09,0.52,1,295,1,NaN
6,246315,Asheville Dreamer's Cabin,1292070,Annie,NaN,28805,35.59635,-82.50655,Private room,68,3,57,2019-10-30,0.55,3,21,0,NaN
7,259576,"Private, peaceful, and free goat therapy",1362726,Julia,NaN,28805,35.61929,-82.48114,Entire home/apt,76,1,607,2021-10-17,17.58,1,171,71,NaN
8,295496,The Fern Street Apt near Biltmore,1501882,Debbie,NaN,28803,35.55537,-82.53539,Entire home/apt,50,90,32,2020-10-10,0.27,1,204,0,NaN
9,304379,Refocus Cottage - paradise,1566145,Gayle,NaN,28804,35.64453,-82.52586,Entire home/apt,289,30,24,2019-08-03,0.21,2,321,0,NaN

In [11]:
df['price'].value_counts().sort_values(ascending=False)

125     41
99      33
150     30
75      27
100     27
        ..
296      1
800      1
465      1
1900     1
3200     1
Name: price, Length: 473, dtype: int64

In [21]:
df.loc[df['price'] == 3200]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
2562,52828490,Monthly - Downtown West Asheville with Hot Tub!,80696321,Brenda,NaN,28806,35.57604,-82.59283,Entire home/apt,3200,30,0,NaN,NaN,1,176,0,NaN

In [22]:
df.loc[df['price'] == df['r]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
2562,52828490,Monthly - Downtown West Asheville with Hot Tub!,80696321,Brenda,NaN,28806,35.57604,-82.59283,Entire home/apt,3200,30,0,NaN,NaN,1,176,0,NaN

In [10]:
df['host_id'].value_counts().sort_values(ascending=False)

167186184    104
96187307      41
149601167     38
151397468     23
134903005     20
            ...
77617179       1
4806300        1
104847832      1
37147442       1
80696321       1
Name: host_id, Length: 1642, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2563 entries, 0 to 2562
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              2563 non-null   int64
 1   name                            2563 non-null   object
 2   host_id                         2563 non-null   int64
 3   host_name                       2563 non-null   object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   2563 non-null   int64
 6   latitude                        2563 non-null   float64
 7   longitude                       2563 non-null   float64
 8   room_type                       2563 non-null   object
 9   price                           2563 non-null   int64
 10  minimum_nights                  2563 non-null   int64
 11  number_of_reviews               2563 non-null   int64
 12  last_review                     2402 non-null   object
 13  reviews_per_month               2402 non-null   float64
 14  calculated_host_listings_count  2563 non-null   int64
 15  availability_365                2563 non-null   int64
 16  number_of_reviews_ltm           2563 non-null   int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(9), object(4)
memory usage: 360.5+ KB

In [15]:
df.describe()

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,2.563000e+03,2.563000e+03,0.0,2563.000000,2563.000000,2563.000000,2563.000000,2563.000000,2563.000000,2402.000000,2563.000000,2563.000000,2563.000000,0.0
mean,3.254194e+07,1.170267e+08,NaN,28793.089348,35.577127,-82.557929,192.059696,5.287944,85.662115,6.445949,8.098712,188.063988,27.034725,NaN
std,1.467069e+07,1.127773e+08,NaN,29.664429,0.048144,0.047523,165.077998,13.786788,109.203674,17.648263,21.030293,124.950347,28.487202,NaN
min,1.080610e+05,6.266700e+04,NaN,28704.000000,35.423420,-82.691050,19.000000,1.000000,0.000000,0.010000,1.000000,0.000000,0.000000,NaN
25%,2.107460e+07,2.153920e+07,NaN,28801.000000,35.563185,-82.592225,98.500000,1.000000,13.000000,1.352500,1.000000,68.000000,4.000000,NaN
50%,3.467080e+07,8.415022e+07,NaN,28804.000000,35.588480,-82.557020,147.000000,2.000000,48.000000,3.100000,1.000000,178.000000,18.000000,NaN
75%,4.571566e+07,1.713014e+08,NaN,28806.000000,35.605270,-82.524245,235.500000,3.000000,119.000000,5.935000,4.000000,316.000000,40.000000,NaN
max,5.282849e+07,4.256017e+08,NaN,28806.000000,35.655390,-82.459420,3200.000000,365.000000,1067.000000,478.000000,104.000000,363.000000,201.000000,NaN

In [ ]:
df[df['id'] == 5.28

In [53]:
df[df['room_type'] == 'Entire home/apt']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,82,30,89,2019-11-30,0.73,2,303,0,NaN
1,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,92,1,340,2021-10-10,5.43,7,207,70,NaN
5,209068,Terrace Cottage,1029919,Kevin,NaN,28804,35.61856,-82.55276,Entire home/apt,134,30,57,2021-01-09,0.52,1,295,1,NaN
7,259576,"Private, peaceful, and free goat therapy",1362726,Julia,NaN,28805,35.61929,-82.48114,Entire home/apt,76,1,607,2021-10-17,17.58,1,171,71,NaN
8,295496,The Fern Street Apt near Biltmore,1501882,Debbie,NaN,28803,35.55537,-82.53539,Entire home/apt,50,90,32,2020-10-10,0.27,1,204,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2558,52761119,Walkable West Asheville Homestead Ranch,42674978,Hunter,NaN,28806,35.57276,-82.59525,Entire home/apt,120,30,0,NaN,NaN,1,70,0,NaN
2559,52790082,Charming downtown 3-Bedroom house with parking,58196988,Eric,NaN,28801,35.59428,-82.54466,Entire home/apt,365,30,0,NaN,NaN,1,180,0,NaN
2560,52794539,NEW! 3 mi to downtown Asheville-sleeps 8-fire pit,242474849,Jennifer,NaN,28804,35.62757,-82.58270,Entire home/apt,207,1,0,NaN,NaN,12,319,0,NaN
2561,52827301,"""White Cottage Inn"" Charming, Cozy & Convenient!",396623834,Christina,NaN,28704,35.45323,-82.50483,Entire home/apt,196,3,0,NaN,NaN,1,351,0,NaN
2562,52828490,Monthly - Downtown West Asheville with Hot Tub!,80696321,Brenda,NaN,28806,35.57604,-82.59283,Entire home/apt,3200,30,0,NaN,NaN,1,176,0,NaN

In [10]:
reviews_df=pd.read_csv('Data/reviews.csv')

In [12]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219552 entries, 0 to 219551
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   listing_id  219552 non-null  int64
 1   date        219552 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.4+ MB

In [13]:
reviews_detailed_df=pd.read_csv('Data/reviews.csv.gz')

In [14]:
reviews_detailed_df.head(10)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,108061,553741,2011-09-21,822907,Pedro & Katie,"Lisa is superb hostess, she will treat you lik..."
1,108061,683278,2011-11-01,236064,Tim,This was a lovely little place walking distanc...
2,108061,714889,2011-11-13,1382707,Shane,"Lisa was very nice to work with. However, we ..."
3,108061,1766157,2012-07-21,416731,Brenda,I feel very lucky to have found this beautiful...
4,108061,2033065,2012-08-19,1858880,Lindsey,"Great roomy little apartment, beautiful privat..."
5,108061,2091064,2012-08-25,3032569,Jason,Lisa was a great host. She even came out to gr...
6,108061,2269009,2012-09-11,3483476,Kevin,Excellent location for downtown. Needed more c...
7,108061,2940534,2012-11-22,435179,Sean,"Great location, good price. The apartment sui..."
8,108061,3074596,2012-12-11,2066802,Lucia,The place was super cute and clean with a grea...
9,108061,5339261,2013-06-25,702386,Ellen,We had a wonderful time in Asheville! The hous...

In [15]:
listings_detailed_df=pd.read_csv('Data/listings.csv.gz')

In [16]:
listings_detailed_df.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,108061,https://www.airbnb.com/rooms/108061,20211018161933,2021-10-18,Walk to stores/parks/downtown. Fenced yard/Pet...,Walk to town in ten minutes! Monthly rental in...,"I love my neighborhood! Its friendly, easy-goi...",https://a0.muscache.com/pictures/41011975/0cdf...,320564,https://www.airbnb.com/users/show/320564,...,4.79,4.84,4.48,NaN,f,2,2,0,0,0.73
1,155305,https://www.airbnb.com/rooms/155305,20211018161933,2021-10-18,Cottage! BonPaul + Sharky's Hostel,<b>The space</b><br />Private cottage located ...,"We are within easy walk of pubs, breweries, mu...",https://a0.muscache.com/pictures/8880711/cf38d...,746673,https://www.airbnb.com/users/show/746673,...,4.75,4.93,4.52,NaN,t,7,1,2,4,5.43
2,156805,https://www.airbnb.com/rooms/156805,20211018161933,2021-10-18,"Private Room ""Ader"" at BPS Hostel",<b>The space</b><br />Private Rooms at Bon Pau...,"Easy walk to pubs, cafes, bakery, breweries, l...",https://a0.muscache.com/pictures/23447d55-fa7e...,746673,https://www.airbnb.com/users/show/746673,...,4.61,4.84,4.46,NaN,t,7,1,2,4,2.68
3,156926,https://www.airbnb.com/rooms/156926,20211018161933,2021-10-18,"Mixed Dorm ""Top Bunk #1"" at BPS Hostel",This is a top bunk in the mixed dorm room<br /...,NaN,https://a0.muscache.com/pictures/98f4e655-c4d6...,746673,https://www.airbnb.com/users/show/746673,...,4.79,4.77,4.78,NaN,t,7,1,2,4,3.40
4,160594,https://www.airbnb.com/rooms/160594,20211018161933,2021-10-18,Historic Grove Park,Come enjoy the beautiful Grove Park neighborho...,NaN,https://a0.muscache.com/pictures/92433837/d340...,769252,https://www.airbnb.com/users/show/769252,...,4.88,4.90,4.85,NaN,f,1,0,1,0,0.47

In [17]:
listings_detailed_df['last_scraped'].max()

'2021-10-19'

In [18]:
listings_detailed_df['last_scraped'].min()

'2021-10-18'

In [21]:
df['id'].count()

2563

In [22]:
calendar_df=pd.read_csv('Data/calendar.csv.gz')

In [23]:
calendar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935495 entries, 0 to 935494
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   listing_id      935495 non-null  int64
 1   date            935495 non-null  object
 2   available       935495 non-null  object
 3   price           935495 non-null  object
 4   adjusted_price  935495 non-null  object
 5   minimum_nights  935495 non-null  int64
 6   maximum_nights  935495 non-null  int64
dtypes: int64(3), object(4)
memory usage: 50.0+ MB

In [34]:
calendar_df.head(-100)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,108061,2021-10-18,f,$82.00,$82.00,30,1125
1,108061,2021-10-19,f,$82.00,$82.00,30,1125
2,108061,2021-10-20,f,$82.00,$82.00,30,1125
3,108061,2021-10-21,f,$82.00,$82.00,30,1125
4,108061,2021-10-22,f,$82.00,$82.00,30,1125
...,...,...,...,...,...,...,...
935390,108061,2022-07-05,t,$576.00,$576.00,3,365
935391,108061,2022-07-06,t,$584.00,$584.00,3,365
935392,108061,2022-07-07,t,$635.00,$635.00,3,365
935393,108061,2022-07-08,t,$725.00,$725.00,3,365
935394,108061,2022-07-09,t,$611.00,$611.00,3,365

In [36]:
calendar_df.loc[calendar_df['listing_id'] != 108061]

Empty DataFrame
Columns: [listing_id, date, available, price, adjusted_price, minimum_nights, maximum_nights]
Index: []

In [35]:
calendar_df['listing_id'].unique()

array([108061])